{% extends 'base.html' %} {% load static %} {% block content %}
<div
  id="chat-root"
  data-username="{{ other_user.username }}"
  data-initial-messages="{{ messages_json }}"
  class="h-screen flex flex-col"
></div>
{% endblock %} {% block extra_css %}
<style>
  body {
    margin: 0;
    padding: 0;
    height: 100vh;
  }
  #chat-root {
    height: 100vh;
  }
</style>
{% endblock %} {% block extra_js %}
<script>
  const RECEIVER_ID = {{ other_user.id }};
  const RECEIVER_NAME = "{{ other_user.username }}";
  const INITIAL_MESSAGES = {{ messages_json|safe }};
</script>
<script src="{% static 'js/chat.js' %}"></script>
{% endblock %}
